@import "../variables.scss";
@import "../mixins.scss";

.aliexpressmodule {
  @include moduleContainer;
  background-color: $darkgreen;
  font-size: 4rem;
  .aliexpress {
    font-family: $aliexpressFontStack;
    font-weight: bold;
    color: $aliexpressColor;
  }
  button {
    @include buttonMixin;
    background-color: white;
  }
}
