@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.productcontainer {
  width: 95%;
  margin: auto;
  margin-top: 25px;
  border: 1px solid #ffe2e2;
  .aliexpress {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ff4747;
  }
  .desc,
  h2,
  .options,
  .formgroup,
  .product,
  .errormessage {
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    width: 95%;
    padding: 10px;
    margin: auto;
  }
  .errormessage {
    text-align: center;
    font-weight: bold;
    background-color: rgba(247, 38, 38, 0.6);
    padding: 5px;
    color: white;
  }
  .options {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    .option {
      border: 1px solid #ffe2e2;
      padding: 10px;
      font-weight: bold;
    }
    .option:hover {
      cursor: pointer;
      background-color: black;
      color: #ffe2e2;
    }
  }
  .formgroup {
    input {
      display: block;
      width: 100%;
      padding: 10px;
      height: 2rem;
      border: #ffe2e2 5px solid;
      border-radius: 10%;
    }
  }
}

@media screen and (min-width: 750px) {
  .productcontainer {
    width: 75%;
    .desc,
    h2,
    .formgroup,
    .product,
    .options,
    .errormessage {
      width: 80%;
      padding: 20px;
    }
  }
}
