// .loginscreen {
//   width: 95%;
//   margin: auto;
//   margin-top: 25px;
//   border: 1px solid #ffe2e2;
//   .loginscreenTitle,
//   .errormessage,
//   .formgroup {
//     width: 95%;
//     margin: auto;
//     padding: 10px;
//   }
//   .formgroup {
//     input {
//       display: block;
//       width: 100%;
//       height: 2rem;
//     }
//     .loginscreenForgotpassword {
//       display: block;
//       text-decoration: underline;
//     }
//     .loginscreenSubtext {
//       display: block;
//     }
//   }
//   .btn {
//     width: 95%;
//     margin: auto;
//     padding: 10px;
//     display: flex;
//     justify-content: flex-end;
//     button {
//       padding: 5px;
//     }
//   }
//   .providers {
//     width: 95%;
//     margin: auto;
//     padding: 10px;
//     .providersbtn {
//       width: 50%;
//       margin: auto;
//       display: flex;
//       justify-content: center;
//       button {
//         display: block;
//         width: 100%;
//         padding: 5px;
//         margin: 5px;
//       }
//     }
//   }
// }

// @media screen and (min-width: 750px) {
//   .loginscreen {
//     width: 75%;
//     .loginscreenTitle,
//     .errormessage,
//     .formgroup {
//       width: 80%;
//       padding: 20px;
//     }
//     .formgroup {
//       input {
//         width: 50%;
//       }
//     }
//     .btn {
//       width: 80%;
//       padding: 20px;
//       button {
//         padding: 10px;
//       }
//     }
//     .providers {
//       width: 80%;
//       padding: 20px;
//     }
//   }
// }
@import "../mixins.scss";
@import "../variables.scss";

.loginscreen {
  @include moduleContainer;
  min-height: calc(100vh - 9rem);
  color: $dark;
  display: flex;
  flex-direction: column;

  .loginscreenTitle {
    display: flex;
    justify-content: center;
  }

  // .loginscreenForm {
  //   width: 100%;
  // border: 0.1rem solid $dark;
  .formGroup {
    width: 100%;
    margin: auto;
  }
  // }

  .formDivider {
    display: flex;
    justify-content: center;
    font-weight: 900;
  }

  .providers {
    display: flex;
    flex-direction: column;

    .btn {
      flex: 1;
      border: none;
      padding: 10px;
      margin: 2px;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .loginscreen {
    .providers {
      flex-direction: row;
      button {
        width: 40%;
      }
    }
  }
}
