@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.fulllogo {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #e1e3e6;
  font-size: 30px;
  cursor: pointer;
  .fulllogoTransparentPart {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#33bc0d+0,ff2626+100 */
    background: rgb(51, 188, 13); /* Old browsers */
    background: -moz-linear-gradient(
      left,
      rgba(51, 188, 13, 1) 0%,
      rgba(255, 38, 38, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(51, 188, 13, 1) 0%,
      rgba(255, 38, 38, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(51, 188, 13, 1) 0%,
      rgba(255, 38, 38, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }
}
