@import url("https://fonts.googleapis.com/css?family=Ubuntu:300i,400i,500i,700i,300i,400i,500i,700i");

.darkmode-input:checked ~ .dot {
  transform: translateX(100%);
  background-color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-display: swap;
}

main {
  min-height: calc(100vh - 370px);
}

/* h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
} */

.ql-font-serif {
  font-family: serif;
}

.ql-font-monospace {
  font-family: monospace;
}

.ql-size-small {
  font-size: x-small;
}
.ql-size-large {
  font-size: x-large;
}
.ql-size-huge {
  font-size: xx-large;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid gray;
  font-style: italic;
}

ul {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  list-style: square;
}

ol {
  list-style: numeric;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
