.cartitem {
  width: 100%;
  padding: 1rem;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  background: #fff;
  border-radius: 2px;
  place-items: center;
  .cartitemName {
    text-decoration: none;
    color: #171717;
  }

  .cartitemName:hover {
    color: #dd219e;
  }

  .cartitemSelect {
    padding: 10px 17px;
  }

  .cartitemDeleteBtn {
    padding: 10px 17px;
    color: red;
    background: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .cartitemDeleteBtn:hover,
  .cartitemDeleteBtn:focus,
  .cartitemDeleteBtn:active {
    background-color: #171717;
    transform: scale(1.2);
  }
}

@media (max-width: 700px) {
  .cartitemName {
    font-size: 0.8rem;
    .cartitemDeleteBtn,
    .cartitemSelect {
      padding: 8px 13px;
    }
    .cartitemPrice {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 500px) {
  .cartitemName {
    font-size: 0.6rem;
    .cartitemDeleteBtn,
    .cartitemSelect {
      padding: 5px 8px;
    }
    .cartitemPrice {
      font-size: 0.6rem;
    }
  }
}
