// src : https://mysa-skincare.com/

$dark: #1b1f23;
$darkgray: #2d333a;
$greenishgray: #36484c;
$darkgreen: #39625c;
$green: #48bb78;

$grimgreen: #869194;
$grimbrown: #adafa9;
$gray: #cbccce;
