// src : https://mysa-skincare.com/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$dark: #1b1f23;
$darkgray: #2d333a;
$greenishgray: #36484c;
$darkgreen: #39625c;
$green: #48bb78;

$grimgreen: #869194;
$grimbrown: #adafa9;
$gray: #cbccce;

$aliexpressColor: #ff4747;
$aliexpressFontStack: "Open Sans", sans-serif;
$appFontStack: "Ubuntu", sans-serif;
